* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

header {
  /* border: 2px solid black; */
  display: flex;
  width: 100%;
  height: 135px;
  justify-content: center;
  background: #c49545;
  font-family: Arial, Helvetica, sans-serif;
}

.header-content {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 600px;
  height: 100%;
  max-height: 400px;
  color: #002e5c;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px 0;
}

.header-content > p {
  /* border: 2px solid black; */
  display: flex;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.image-section {
  /* border: 2px solid black; */
  /* display: flex; */
  width: 100%;
  height: 80vh;
  background-image: url("images/wineclub.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-container {
  /* border: 2px solid black; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 46, 92, 0.7),
    rgba(0, 0, 0, 0)
  );
}

.logo {
  /* border: 2px solid black; */
}

.logo img {
  /* border: 2px solid black; */
  margin: 0 0 0 -30px;
  padding: 0;
  width: 50%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.tabs {
  /* border: 2px solid black; */
  width: 55%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tabs a {
  /* border: 2px solid black; */
  color: #ffffff;
  text-decoration: none;
}

.header-hero {
  /* border: 2px solid black; */
  text-align: center;
  width: 80%;
  margin: 20px auto 0;
  color: #ffffff;
  font-weight: 500;
  font-size: 70px;
}

.logo-hero {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.logo-hero img {
  /* border: 2px solid black; */
  width: 20%;
  aspect-ratio: 3/2;
  object-fit: contain;
}
